/* styles.css */


/* Styles par défaut pour la maquette globale */
/* Vous pouvez définir ici les styles de votre maquette globale */

/* Media Query pour les écrans de 360x800 pixels */
@media only screen and (max-width: 360px) and (max-height: 800px) {
  .container {
    /* Ajoutez ici les styles spécifiques à la maquette pour 360x800 */
    background-color: #ffffff;
    /* Par exemple, changez la couleur de fond */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ajoute une ombre portée */
    border-radius: 10px;
    /* Ajoutez un coin arrondi */
  }

  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
}


body {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  margin: 20px;
}

.background {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #CBB5FB, #B394FA, #8056E1, #4E3488);
  background-size: 300% 300%;
  /* Adjust based on your preference */
  animation: gradientAnimation 10s infinite;
  /* Animation duration */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
    /* Start position of the gradient */
  }

  50% {
    background-position: 50% 100%;
    /* Middle position of the gradient */
  }

  100% {
    background-position: 0% 0%;
    /* End position of the gradient */
  }
}


.menu {
  display: flex;
  justify-content: flex-end;
  /* aligner à droite */
}

.button-menu {
  display: inline-flex;
  /* Utilisation de flexbox pour centrer l'icône */
  width: 40px;
  /* Ajustez la largeur selon vos besoins */
  height: 40px;
  /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%;
  /* Rend le bouton rond */
  padding: 8px;
  /* Ajoute du padding à l'intérieur du bouton */
  text-decoration: none;
  /* Supprime la soulignement par défaut pour les liens */
  margin-top: 20px;
  font-size: 20px;
  color: rgb(100, 67, 175);
  /* Couleur de l'icône du bouton */
  cursor: pointer;
  /* Curseur de type pointer pour indiquer que le bouton est cliquable */

  /* Effet glassmorphism*/
  background-color: rgba(214, 203, 239, 0.45);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(229, 220, 236, 0.45);
}


.button-menu:active {
  /* Styles du bouton lorsqu'il est activé */
  background-color: #DCCDFD;
  /* Nouvelle couleur de fond */
  color: rgb(255, 255, 255); //Pq pas affiché en blanc?
  /* Nouvelle couleur du texte au clique */
}

.full-name {
  display: flex;
  align-items: center;  /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  position: relative;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  color: #38206F;
}

.first-name, .last-name {
  display: flex;
  position: absolute;
}

.first-name {
  top: 10px;
}

.last-name {
  z-index: 2;
  top: 40px; /* Ajustez cette valeur pour contrôler le chevauchement */
}


.profil {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 54px;
}

.photo-profil-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 16px 0;
  margin-bottom: -10px;
  
}

.photo-profil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Assure que la photo est au-dessus du glow */
}

.photo-profil img {
  position: absolute;
  /* Repositionnement de la photo */
  top: -65%;
  left: -20%;
  width: 140%;
  height: auto;
  object-fit: cover;
}

.photo-profil-glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1; /* Place le flou en arrière-plan */
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7), 0 0 75px rgba(255, 255, 255, 0.2); /* Ajoute un effet de flou */
}


.link-container {
  display: flex;
  /* Utilisation de flexbox pour centrer l'icône */
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
  flex-direction: column;
  /* Disposer les boutons verticalement */
  margin-top: -25px;
  margin-bottom: 54px;

}


.link-button {
  width: 240px;
  /* Ajustez la largeur selon vos besoins */
  height: 42px;
  /* Ajustez la hauteur selon vos besoins */
  padding: 10px;
  /* Ajoute du padding à l'intérieur du bouton */
  margin-bottom: 22px;
  /* Espacement entre les boutons */
  text-decoration: none;
  /* Supprime la soulignement par défaut pour les liens */
  font-size: 15px;
  margin: auto;
  /* Centre horizontalement et verticalement le bouton */
  margin-bottom: 10px;
  /* Marge entre les boutons */
  vertical-align: middle;
  /* Centre verticalement le bouton */
  cursor: pointer;
  /* Curseur de type pointer pour indiquer que le bouton est cliquable */
  background-color: rgba(170, 144, 233, 0.45);
  backdrop-filter: blur(5px);
  text-align: center;
  color: #F4EFFE;
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  word-wrap: break-word;

  /* Effet glassmorphism */
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(229, 220, 236, 0.45);
  border-radius: 10px;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.link-button:active {
  /* Styles du bouton lorsqu'il est activé ou a le focus */
  background-color: rgba(197, 179, 239, 0.45);
  /* Nouvelle couleur de fond */
}

.link-button:active .content {
  color: rgba(76, 50, 139, 0.45);
  /* Nouvelle couleur du texte */
}



.social-icon-container {
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  /* Centre les icônes horizontalement */
  align-items: bottom;
  flex-direction: row;
}

/* Style pour les icônes de réseaux sociaux */
.social-icon {
  color: #ffffff;
  /* Couleur blanche par défaut */
  margin: 0 15px;
  /* Espacement entre chaque icône */
  font-size: 24px;
  transition: color 0.3s ease, filter 0.3s ease;
  /* Transition de couleur et de flou */
}

/* Style pour les icônes de réseaux sociaux au clic */
.social-icon:active {
  filter: blur(1px);
  /* Ajoute un flou au clic */
}


/* Style pour le titre h1 */
h1 {
  color: #38206F;
  font-size: 32px;
  line-height: 30px;
  font-family: 'Lexend', sans-serif;
}


/* Style pour les paragraphes */
.medium-body {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}

.small-body {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}